.customer-creations-section {
    background-color: #f6f8fa; /* light grey background color */
}

.customer-creations-section img {
    max-width: 100%;
    height: auto;
    opacity: 0.6; /* Faded logo effect */
}

.grayscale {
    filter: grayscale(100%);
    opacity: 0.6;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.grayscale:hover {
    filter: grayscale(0%);
    opacity: 1;
}
