.hero-container {
  background-color: #FCD46A; /* Background color */
  padding: 50px 0;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 30px;
}

.hero-text .btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #555;
}

.hero-carousel {
  text-align: center;
}

.hero-image-container {
  display: none;
}

.hero-image-container.active {
  display: block;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-container {
      padding: 20px 0;
  }

  .hero-text h1 {
      font-size: 2rem;
  }

  .hero-text p {
      font-size: 1rem;
  }

  .hero-carousel {
      margin-top: 20px;
  }

  .hero-image {
      max-width: 80%;
      margin: 0 auto;
  }
}
