.navbar {
    background-color: #FFD454;
}

.navbar-brand {
    font-size: 1.8rem;
}

.navbar-nav .nav-link {
    color: #333;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #555;
}

.weather-widget-nav {
    margin-left: 20px;
}
